{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Alpha Dogs</title>
    <link rel="stylesheet" href="{% static "css/design.css" %}">
</head>
<body>
    <div class="page-container">
        <div class="content-wrap">
    <header>
        <h1> Alpha Dogs Boarding Log </h1>
        <nav>
            <a href="{% url 'main_page' %}">Main Page ||</a>
            <a href="{% url 'add_dog' %}">Add Dog</a>

            {% if user.is_authenticated %}
            <div> Hey there, {{ user.get_username }}</div>
            {% else %}
            <a href="{% url 'signup' %}">|| Sign Up</a>
            {% endif %}
        </nav>
    </header>
    <main>

        <div class="gridlayout">
            {% for dog_object in show_all_dogs %}
            <div>
                <h1 class="has_white_text underline centereverything">
                    <a href= "{% url 'show_dog' dog_object.id %}"> {{dog_object.name}} </a>

                </h1>
                <div><p class = "centereverything"> {{ dog_object.description }}</p></div>
                {% comment %} <h3 class = "centereverything">
                {{dog_object.behavior}} <div> Boarding Date: {{dog_object.boardingdate}} </div>
                </h3> {% endcomment %}
                <img src="{{ dog_object.picture }}">
            </div>
            {% endfor %}
        </div>
    </main>
</body>

<footer class="footer">Made with puppy love</footer>

</html>
