





{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Alpha Dogs</title>
    <link rel="stylesheet" href="{% static "css/design.css" %}">
</head>
<body>
    <div class="page-container">
        <div class="content-wrap">
    <header>
        <h1> Alpha Dogs Boarding Log </h1>
        <nav>
            <a href="{% url 'main_page' %}">Main Page ||</a>
            <a href="{% url 'add_dog' %}">Add Dog</a>
        </nav>
    </header>
    <main>
        <h1>Edit {{ post_object.title }}</h1>
        <form class="big" method="post">
        {% csrf_token %}
        {{ post_form.as_p}}
          <button class = "save">Save</button>
        </form>
    </main>
</body>

<footer class="footer">Made with puppy love</footer>

</html>
