{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Alpha Dogs</title>
    <link rel="stylesheet" href="{% static "css/design.css" %}">
</head>
<body>
    <div class="page-container">
        <div class="content-wrap">
    <header>
        <nav>
            <a href="{% url 'main_page' %}"> Main Page ||</a>
            <a href="{% url 'edit_dog' dog_object.id %}">Edit Dog Info</a>
        </nav>
    </header>
    <main>
        <h1 class="has_white_text">{{ dog_object.name }}</h1>
        <h2 class="has_white_text">Breed: {{dog_object.description}}</h2>

        <div class="centereverything">
            <div>
                <h3>
                {{dog_object.behavior}}
                </h3>
                <img src="{{ dog_object.picture }}">
                <div> Boarding Date: {{dog_object.boardingdate}} </div>
            </div>
        </div>
    </main>
</body>

<footer class="footer">Made with puppy love</footer>

</html>
