{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Alpha Dogs</title>
    <link rel="stylesheet" href="{% static "css/design.css" %}">
</head>
<header>
  <nav>
    <a href="{% url 'main_page' %}">Main page</a>
  </nav>
</header>
<main>
  <h1>Sign up!</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button>Sign up</button>
  </form>
</main>
<footer class="footer">Made with puppy love</footer>

</html>
