
body{
    margin: 20px;
    padding: 20px;
    background-color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 100%;
    margin: 0;
}

main{
    padding: 10px 10px;
    color: white;

}

.page-container {
    position: relative;
    min-height: 100vh;
  }

.content-wrap {
    padding-bottom: 2.5rem;
  }

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    color: white;
    text-align: center;
  }

img{
    width: 200px;
    height: 150px;
    object-fit: cover;
}

nav{
    border-bottom: 10px black;
    padding: 20px;
}
.inputs{
    height: 40px;
    width:200px;
}

.save{
    color: black;
    text-align: center;
    background-color: white;
}

.has_white_text{
    color: whitesmoke;
    text-align: center;
    background-color: black;

}

.underline{
    text-decoration: underline;
}

.gridlayout{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-basis: calc(33.33% - 10px);
    flex-grow: 1;
    box-sizing: border-box;
    padding: 50px;
}

header{
    background-color: grey;
    text-align: center;
}

a{
    text-decoration: none;
    color: white;
    font-family: 'Gloock', serif;
}

.box{
    background-color: bisque;
    margin: 0

}

.centereverything{
    text-align: center;
}

/* .big {
    width: 100%;
    height: 50px;
    padding: 10px;
    font-size: 18px;
    border: 2px solid #ccc;
    border-radius: 5px;
  } */
